[submodule "public/lib/box2d.js/"]
	path = public/lib/box2d.js/
	url = https://github.com/HBehrens/box2d.js.git
[submodule "public/lib/three.js/"]
	path = public/lib/three.js/
	url = https://github.com/mrdoob/three.js.git
[submodule "public/lib/stats.js/"]
	path = public/lib/stats.js/
	url = https://github.com/mrdoob/stats.js.git
